<h1>This is <strong>999now.co.uk</strong></h1>

<p>Why wait for an ambulance if there's a first aider nearby? 999now.co.uk tries to get you a first responder as quickly as possible</p>

<%= link_to "I need help now!", alarms_path, :class => 'button red large' %>
<br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to "Become a responder", new_authorisation_path, :class => 'button blue large' %>